@page "/papercut"
@using QuickQuote.Data
@using System.Globalization
@inject HttpClient Http

<PageTitle>Papercut Quick Quote</PageTitle>

<h1>Papercut Quick Quote</h1>


<h3>CSV Test</h3>

<ul>
    @foreach (var item in entries)
    {
        <li>
            | Product Code - @item.ProductCode |
            | Product Name - @item.ProductName |
            | Product Friendly Name - @item.ProductFriendlyName |
            | Product Catagory - @item.ProductCategory |
            | Has Volume Discounts? - @item.HasVolumeDiscount |
            | Volume Min - @item.VolumeMin |
            | Volume Max - @item.VolumeMax |
            | Price - @item.FlatPrice |
            | Bump - @item.Bump |
        </li>
    }




</ul>

@code {
    List<DatabaseEntry> entries = new List<DatabaseEntry>();

    protected override async Task OnInitializedAsync()
    {
        string csvFile = await Http.GetStringAsync("csv-files/Test.csv");
        Database data = new Database(csvFile);
        foreach(DatabaseEntry databaseEntry in data.DatabaseEntries)
        {
            entries.Add(databaseEntry);
        }
    }
}
